img.logo {
    height: 50px;
    width: auto;
}
img.logo2 {
    height: 100px;
    width: auto;
}
img.maingif{
    height: 400px;
    width: auto;
}
body.darker{
    background: #fcf0e8;
}
div.shadow{
    box-shadow: argb(0,0,0,0.2);
}
div.darker{
    background: #eddecd;
}

